
.card-img {   
    display: flex;
    justify-content: center;
    background-color:  rgb(219, 171, 236);
}


.card-body-button{
    display: flex;
    justify-content: center;
}

img {
    border-radius: 200px;
    margin: 10px
}
video{
    width: 15vw;
    height: auto;
}
