.cardsGroup{
    display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1vw;
  row-gap: 3vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5vh;
  margin-top: 5vh
}